salesforce-sys/src/main/mule/insert.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="aed79d01-b1f3-47d3-b0e0-40d394622b1a" >
		<http:listener-connection host="0.0.0.0" port="10091" />
	</http:listener-config>
	
	<flow name="pf-insert-customer" doc:id="cb794617-fcef-4fcf-abaa-40057d4c0780" >
		<logger level="INFO" doc:name="LOG INFO Start System" doc:id="d84e20fc-3f0e-4e1b-831e-dc977685c76e" message="Starting System Layer With CorrelationId #[vars.correlationId]"/>
		<ee:transform doc:name="Transform Message" doc:id="66274eb1-49f2-4905-9626-213d53802baa" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
 [ 
 {
"Name": payload.Name,
"BillingStreet": payload.BillingStreet,
"BillingCity": payload.BillingCity,
"BillingState": payload.BillingState,
"BillingPostalCode": payload.BillingPostalCode,
"BillingCountry": payload.BillingCountry
}
  ]
  ]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:create doc:name="Create" doc:id="c2496693-2a72-439a-869f-9545c40d12c8" type="Account" config-ref="Salesforce_Config"/>
		<ee:transform doc:name="Transform Message" doc:id="1afd4815-0dce-4b2b-b26e-ca0a69249349" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="LOG INFO End System" doc:id="017022a2-971c-4e09-bc02-d6a512c6e176" message="Ending System Layer With CorrelationId #[vars.correlationId]"/>
		
</flow></mule>
