salesforce-sys/src/main/mule/retrieve.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">
	<flow name="pf-get-customer" doc:id="70fc9dbd-e27d-454e-a1c1-8ec5bf80cc01" >
		<logger level="INFO" doc:name="LOG INFO Start System" doc:id="39c497f6-f65e-4416-8f60-c1e469b5947c" message="Starting System Layer With CorrelationId #[vars.correlationId]"/>
		<salesforce:query doc:name="Query" doc:id="d34c0376-7fed-479d-b7d2-763062bdf7b3" config-ref="Salesforce_Config">
			<salesforce:salesforce-query >SELECT Name,BillingStreet,BillingCity,BillingState,BillingPostalCode,BillingCountry FROM Account</salesforce:salesforce-query>
		</salesforce:query>
		<ee:transform doc:name="Transform Message" doc:id="a9a2ef32-0187-462b-aeb2-faa393d1e388" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/jSON
---
payload map(object,index)->
{
"CustomerName": object.Name,
"BillingStreet":object.BillingStreet,
"BillingCity": object.BillingCity,
"BillingState":object.BillingState,
"BillingCountry": object.BillingCountry,
"BillingPostalCode":object.BillingPostalCode
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="LOG INFO End System" doc:id="de6d421c-accc-4934-924e-0c674ae29a90" message="Starting System Layer With CorrelationId #[vars.correlationId]"/>
	
</flow>
	</mule>
